<html>
    <title>Donate</title>
<link rel="stylesheet" href="../css/aboutus.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script>

</script> 
</head>

<body>
  <!-- Navigation bar -->
  {{>navbar}}

    <div id="title">
    <h1>About Us</h1>
        Welcome to Blood Donation Bank! 
    </div>
    <div id="body">
    Blood is the most precious gift that anyone can give to another person — the gift of life.
 A decision to donate your blood can save a life.<br>
A well organised Blood Donation centre which is a vital component of any health care system.<br> An integrated strategy for Blood Safety is required for elimination of transfusion transmitted infections and for provision of safe and adequate blood transfusion services to the people.<br>
The main component of an integrated strategy include collection of blood only from voluntary, non-remunerated blood donors.<br>
The standards vary from state to state, cities to cities and centre to centre in the same city.</br>
For quality, safety and efficacy of blood and blood products, well-equipped blood centres with adequate infrastructure and trained manpower is an essential requirement. For effective clinical use of blood, it is necessary to train clinical staff.To attain maximum safety the requirements of good manufacturing practices and implementation of quality system moving towards total quality management.</br>
</br>

<u id="objective"><b>Objectives</b></u></br>
Safe and Adequate Blood Supplies</br>
Reduced Turnaround Time</br>
Preventing Wastage of Blood</br>
Restrict Professional Donors</br>
Networking of Blood Banks</br>
</div>
    </body>
</html>