
<!DOCTYPE html>
<head>
<title>Home</title>
<link rel="stylesheet" href="../css/index.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</script> 
</head>

<body>
  <!-- Navigation bar -->
  {{>header}}

  <!-- Slideshow -->
  <div class="maindiv"></div>

  <!-- div tag-Save blood-->
  <div class="save">
<marquee width="100%" direction="right" height="60px">
  <h1>DONATE BLOOD SAVE LIFE</h1>
</marquee>
<p>There's no end to the benefits of donating blood for those who need it.It turns out that donating blood doesn’t just benefit recipients.
There are health benefits for donors, too, on top of the benefits that come from helping others.
risk of heart disease possibly due to unfavorable cholesterol levels
However, donating blood regularly may lower iron stores, according to a 2013 studyTrusted Source. This may reduce the risk of heart attack. High body iron stores are believed to increase the risk of heart attack.
Regular blood donations were thought to lower blood pressureTrusted Source, but a 2017 studyTrusted Source suggests these observations are deceiving and are not a real physiological response.
</p>
<a href="/donate" id="btn1" style="color:blue;"><h2>Become a life saver</h2></button>
</div>

<div class="container1">
  <img src="../images/vision .jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Saving lives by providing blood and biomedical services and to become the number 1 online blood bank system</div>
  </div>
</div>

<div class="container2">
  <img src="../images/mission.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">To provide high quality and safe blood to patients.To make blood donation 100% voluntary without any replacement donor by building individual or institutional alliances.
      To motivate and train the next generation youth leaders to ensure sustainability of the mission of Voluntary Blood Donation.</div>
  </div>
</div>

<footer id="ft">
  <h1 id="foot">CONTACT US</h1>
  <p id="line"><b>___________________</b></p>
  <p id="cont">
    Email:bloodbank@gmail<br>
    Mobile:9837526178<br>
               9837462819
  </p>
</footer>

</body>

