<!DOCTYPE html>
<head>
<link rel="stylesheet" href="../../public/css/index.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

</script> 
</head>

<body>
  <nav>
    <div class="logo">
      <img src="../images/logo.png" width="50" height="50">
    </div>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/aboutus">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/locate">Locate Us</a></li>
          <li><a id="links" href="/register">Sign up</a></li>
          <li><a id="links" href="/login">Login</a></li>
      </ul>
  </nav>